<div class="user-header row">
    <div class="col-md-2">
        <a ui-sref="users.teachers" ng-if="user.type == 1"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <a ui-sref="users.students" ng-if="user.type == 2"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <a ui-sref="users.admins" ng-if="user.type == 3"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <img ng-src="{{ user.avatar }}">
    </div>
    <div class="col-md-10">
        <h1>{{ user.name }} <span>(<span ng-if="user.type == 1">{{ 'label.professor' | translate }}</span><span ng-if="user.type == 2">{{ 'label.student' | translate }}</span><span ng-if="user.type == 3">{{ 'label.admin' | translate }}</span>)</span></h1>
    </div>
</div>
<div class="data-container row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" height="265%"></canvas>
            </div>
            <div class="col-md-6">
                <div style="display: inline-block;">
                    <uib-datepicker class="well well-sm" datepicker-options="dateOpts" ng-model="date"></uib-datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="user.type == 1">
                <h2>{{ 'label.last_month_activity' | translate }}</h2>
                <div class="widgets-container row">
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.courses' | translate }}</p>
                            <h4>{{ courses.length | number }}</h4>
                            <span class="indicator indicator-up" ng-if="courses.length > coursesLast.length"></span>
                            <span class="indicator indicator-down" ng-if="courses.length < coursesLast.length"></span>
                            <span class="indicator indicator-same" ng-if="courses.length == coursesLast.length"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.assignments' | translate }}</p>
                            <h4>{{ assignments | number }}</h4>
                            <span class="indicator indicator-up" ng-if="assignments > assignmentsLast"></span>
                            <span class="indicator indicator-down" ng-if="assignments < assignmentsLast"></span>
                            <span class="indicator indicator-same" ng-if="assignments == assignmentsLast"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.discussions' | translate }}</p>
                            <h4>{{ discussions | number }}</h4>
                            <span class="indicator indicator-up" ng-if="discussions > discussionsLast"></span>
                            <span class="indicator indicator-down" ng-if="discussions < discussionsLast"></span>
                            <span class="indicator indicator-same" ng-if="discussions == discussionsLast"></span>
                        </div>
                    </div>
                </div>
                <div class="widgets-container row">
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.comments' | translate }}</p>
                            <h4>{{ comments | number }}</h4>
                            <span class="indicator indicator-up" ng-if="comments > commentsLast"></span>
                            <span class="indicator indicator-down" ng-if="comments < commentsLast"></span>
                            <span class="indicator indicator-same" ng-if="comments == commentsLast"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.questionaries' | translate }}</p>
                            <h4>{{ questionaries | number }}</h4>
                            <span class="indicator indicator-up" ng-if="questionaries > questionariesLast"></span>
                            <span class="indicator indicator-down" ng-if="questionaries < questionariesLast"></span>
                            <span class="indicator indicator-same" ng-if="questionaries == questionariesLast"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>