<div class="user-header row">
    <div class="col-md-2">
        <a ui-sref="users.teachers" ng-if="user.type == 1"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <a ui-sref="users.students" ng-if="user.type == 2"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <a ui-sref="users.admins" ng-if="user.type == 3"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <img ng-src="{{ user.avatar }}">
    </div>
    <div class="col-md-10">
        <h1>{{ user.name }} <span>(<span ng-if="user.type == 1">{{ 'label.professor' | translate }}</span><span ng-if="user.type == 2">{{ 'label.student' | translate }}</span><span ng-if="user.type == 3">{{ 'label.admin' | translate }}</span>)</span></h1>
    </div>
</div>
<div class="data-container row">
    <div class="col-md-8">
        <div class="row">
            <logins-chart user="user"></logins-chart>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="user.type == 1">
                <h2>{{ 'label.last_month_activity' | translate }}</h2>
                <div class="widgets-container row">
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.courses' | translate }}</p>
                            <h4>{{ stats.coursesCurrent | number }}</h4>
                            <span class="indicator indicator-up" ng-if="stats.coursesCurrent > stats.coursesLast"></span>
                            <span class="indicator indicator-down" ng-if="stats.coursesCurrent < stats.coursesLast"></span>
                            <span class="indicator indicator-same" ng-if="stats.coursesCurrent == stats.coursesLast"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.assignments' | translate }}</p>
                            <h4>{{ stats.assignmentsCurrent | number }}</h4>
                            <span class="indicator indicator-up" ng-if="stats.assignmentsCurrent > stats.assignmentsLast"></span>
                            <span class="indicator indicator-down" ng-if="stats.assignmentsCurrent < stats.assignmentsLast"></span>
                            <span class="indicator indicator-same" ng-if="stats.assignmentsCurrent == stats.assignmentsLast"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.discussions' | translate }}</p>
                            <h4>{{ stats.discussionsCurrent | number }}</h4>
                            <span class="indicator indicator-up" ng-if="stats.discussionsCurrent > stats.discussionsLast"></span>
                            <span class="indicator indicator-down" ng-if="stats.discussionsCurrent < stats.discussionsLast"></span>
                            <span class="indicator indicator-same" ng-if="stats.discussionsCurrent == stats.discussionsLast"></span>
                        </div>
                    </div>
                </div>
                <div class="widgets-container row">
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.comments' | translate }}</p>
                            <h4>{{ stats.commentsCurrent | number }}</h4>
                            <span class="indicator indicator-up" ng-if="stats.commentsCurrent > stats.commentsLast"></span>
                            <span class="indicator indicator-down" ng-if="stats.commentsCurrent < stats.commentsLast"></span>
                            <span class="indicator indicator-same" ng-if="stats.commentsCurrent == stats.commentsLast"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.questionaries' | translate }}</p>
                            <h4>{{ stats.questionariesCurrent | number }}</h4>
                            <span class="indicator indicator-up" ng-if="stats.questionariesCurrent > stats.questionariesLast"></span>
                            <span class="indicator indicator-down" ng-if="stats.questionariesCurrent < stats.questionariesLast"></span>
                            <span class="indicator indicator-same" ng-if="stats.questionariesCurrent == stats.questionariesLast"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <p>{{ 'label.files' | translate }}</p>
                            <h4>{{ stats.filesCurrent | number }}</h4>
                            <span class="indicator indicator-up" ng-if="stats.filesCurrent > stats.filesLast"></span>
                            <span class="indicator indicator-down" ng-if="stats.filesCurrent < stats.filesLast"></span>
                            <span class="indicator indicator-same" ng-if="stats.filesCurrent == stats.filesLast"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="user.type == 2">
                <h2>{{ 'label.last_month_activity' | translate }}</h2>
                <div class="row">
                    <div class="col-md-4">
                        <p>{{ 'label.homeworks' | translate }}: <span class="green">{{ stats.assignmentsSolved }} {{ 'label.of' | translate }} {{ stats.assignments }}</span></p>
                    </div>
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ stats.assignmentsSolved / stats.assignments * 100 | number:2 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.assignmentsSolved / stats.assignments * 100 | number:2; }}%;">
                                {{ stats.assignmentsSolved / stats.assignments * 100 | number:2 }}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>{{ 'label.discussions' | translate }}: <span class="green">{{ stats.discussionsSolved }} {{ 'label.of' | translate }} {{ stats.discussions }}</span></p>
                    </div>
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ stats.discussionsSolved / stats.discussions * 100 | number:2 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.discussionsSolved / stats.discussions * 100 | number:2; }}%;">
                                {{ stats.discussionsSolved / stats.discussions * 100 | number:2 }}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>{{ 'label.questionaries' | translate }}: <span class="green">{{ stats.questionariesSolved }} {{ 'label.of' | translate }} {{ stats.questionaries }}</span></p>
                    </div>
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ stats.questionariesSolved / stats.questionaries * 100 | number:2 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.questionariesSolved / stats.questionaries * 100 | number:2; }}%;">
                                {{ stats.questionariesSolved / stats.questionaries * 100 | number:2 }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th width="30%">{{ 'label.activity' | translate }}</th>
                    <th width="30%">{{ 'label.course' | translate }}</th>
                    <th>{{ 'label.date' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities">
                    <td>{{ 'label.activity.' + activity.activity | translate }}</td>
                    <td>{{ activity.course.name }}</td>
                    <td>{{ activity.date | relativeDate }}</td>
                </tr>
            </tbody>
        </table>
        <p class="text-center">
            <uib-pagination max-size="3" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="totalActivities" items-per-page="per_page" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="page" ng-change="queryActivities()"></uib-pagination>
        </p>
    </div>
</div>