<form class="search-form form-inline pull-right" ng-submit="query()">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="name" placeholder="{{ 'placeholder.search_users' | translate }}">
    </div>
    <button type="submit" class="btn btn-default">{{ 'btn.search' | translate }}</button>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th ng-show="$state.is('users.teachers')">{{ 'header.professor' | translate }}</th>
            <th ng-show="$state.is('users.students')">{{ 'header.student' | translate }}</th>
            <th ng-show="$state.is('users.admins')">{{ 'header.admin' | translate }}</th>
            <th width="30%" class="text-center">{{ 'header.email' | translate }}</th>
            <th width="30%" class="text-center">{{ 'header.action' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td><a ui-sref="users.user({ id : user._id })"><img class="avatar" ng-src="{{ user.avatar }}">{{ user.name }}</a></td>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></button>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="users.user({ id : user._id })">{{ 'menu.details' | translate }}</a></li>
                        <li><a ui-sref="users.remove({ id : user._id })">{{ 'menu.remove' | translate }}</a></li>
                    </ul>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<p class="text-center">
    <uib-pagination max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="page" ng-change="query()"></uib-pagination>
</p>