<form class="search-form form-inline">
    <div class="form-group">
        <select class="form-control" ng-model="teacher" ng-options="teacher._id as teacher.name for teacher in teachers track by teacher._id">
            <option value="">{{ 'label.select_teacher' | translate }}</option>
        </select>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'header.course' | translate }}</th>
            <th width="25%" class="text-center">{{ 'header.professor' | translate }}</th>
            <th width="12%" class="text-center">{{ 'header.students' | translate }}</th>
            <th width="12%" class="text-center">{{ 'header.assignments' | translate }}</th>
            <th width="12%" class="text-center">{{ 'header.discussions' | translate }}</th>
            <th width="12%" class="text-center">{{ 'header.questionaries' | translate }}</th>
            <th width="12%" class="text-center">{{ 'header.files' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in courses">
            <td>{{ course.name }}</td>
            <td class="text-center"><a ui-sref="users.details({ id : course.teacher._id })">{{ course.teacher.name }}</a></td>
            <td class="text-center">{{ course.students.length | number }}</td>
            <td class="text-center">
                {{ course.stats.assignmentsCurrent | number }}
                <span class="indicator indicator-up" ng-if="course.stats.assignmentsCurrent > course.stats.assignmentsLast"></span>
                <span class="indicator indicator-down" ng-if="course.stats.assignmentsCurrent < course.stats.assignmentsLast"></span>
                <span class="indicator indicator-same" ng-if="course.stats.assignmentsCurrent == course.stats.assignmentsLast"></span>
            </td>
            <td class="text-center">
                {{ course.stats.discussionsCurrent | number }}
                <span class="indicator indicator-up" ng-if="course.stats.discussionsCurrent > course.stats.discussionsLast"></span>
                <span class="indicator indicator-down" ng-if="course.stats.discussionsCurrent < course.stats.discussionsLast"></span>
                <span class="indicator indicator-same" ng-if="course.stats.discussionsCurrent == course.stats.discussionsLast"></span>
            </td>
            <td class="text-center">
                {{ course.stats.questionariesCurrent | number }}
                <span class="indicator indicator-up" ng-if="course.stats.questionariesCurrent > course.stats.questionariesLast"></span>
                <span class="indicator indicator-down" ng-if="course.stats.questionariesCurrent < course.stats.questionariesLast"></span>
                <span class="indicator indicator-same" ng-if="course.stats.questionariesCurrent == course.stats.questionariesLast"></span>
            </td>
            <td class="text-center">
                {{ course.stats.filesCurrent | number }}
                <span class="indicator indicator-up" ng-if="course.stats.filesCurrent > course.stats.filesLast"></span>
                <span class="indicator indicator-down" ng-if="course.stats.filesCurrent < course.stats.filesLast"></span>
                <span class="indicator indicator-same" ng-if="course.stats.filesCurrent == course.stats.filesLast"></span>
            </td>
        </tr>
    </tbody>
</table>
<p class="text-center">
    <uib-pagination max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="page" ng-change="query()"></uib-pagination>
</p>