<form class="form-inline">
    <div class="form-group">
        <select class="form-control" ng-model="course" ng-options="course as course.name for course in courses track by course._id">
            <option value="">{{ 'label.select_course' | translate }}</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" ng-model="order">
            <option value="name">{{ 'label.select_order' | translate }}</option>
            <option value="-stats.loginsCurrent">{{ 'label.order_logins' | translate }}</option>
            <option value="-stats.coursesCurrent">{{ 'label.order_courses' | translate }}</option>
            <option value="-stats.assignmentsCurrent">{{ 'label.order_assignments' | translate }}</option>
            <option value="-stats.discussionsCurrent">{{ 'label.order_discussions' | translate }}</option>
            <option value="-stats.questionariesCurrent">{{ 'label.order_questionaries' | translate }}</option>
            <option value="-stats.gradesCurrent">{{ 'label.order_grades' | translate }}</option>
        </select>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'header.professor' | translate }}</th>
            <th width="13%" class="text-center">{{ 'header.logins' | translate }}</th>
            <th width="13%" class="text-center">{{ 'header.courses' | translate }}</th>
            <th width="13%" class="text-center">{{ 'header.assignments' | translate }}</th>
            <th width="13%" class="text-center">{{ 'header.discussions' | translate }}</th>
            <th width="13%" class="text-center">{{ 'header.questionaries' | translate }}</th>
            <th width="13%" class="text-center">{{ 'header.grades' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in students | orderBy:order">
            <td><a ui-sref="users.details({ id : student._id })">{{ student.name }}</a></td>
            <td class="text-center">
                {{ student.stats.loginsCurrent | number }}
                <span class="indicator indicator-up" ng-if="student.stats.loginsCurrent > student.stats.loginsLast"></span>
                <span class="indicator indicator-down" ng-if="student.stats.loginsCurrent < student.stats.loginsLast"></span>
                <span class="indicator indicator-same" ng-if="student.stats.loginsCurrent == student.stats.loginsLast"></span>
            </td>
            <td class="text-center">
                {{ student.stats.coursesCurrent | number }}
                <span class="indicator indicator-up" ng-if="student.stats.coursesCurrent > student.stats.coursesLast"></span>
                <span class="indicator indicator-down" ng-if="student.stats.coursesCurrent < student.stats.coursesLast"></span>
                <span class="indicator indicator-same" ng-if="student.stats.coursesCurrent == student.stats.coursesLast"></span>
            </td>
            <td class="text-center">
                {{ student.stats.assignmentsCurrent | number }}
                <span class="indicator indicator-up" ng-if="student.stats.assignmentsCurrent > student.stats.assignmentsLast"></span>
                <span class="indicator indicator-down" ng-if="student.stats.assignmentsCurrent < student.stats.assignmentsLast"></span>
                <span class="indicator indicator-same" ng-if="student.stats.assignmentsCurrent == student.stats.assignmentsLast"></span>
            </td>
            <td class="text-center">
                {{ student.stats.discussionsCurrent | number }}
                <span class="indicator indicator-up" ng-if="student.stats.discussionsCurrent > student.stats.discussionsLast"></span>
                <span class="indicator indicator-down" ng-if="student.stats.discussionsCurrent < student.stats.discussionsLast"></span>
                <span class="indicator indicator-same" ng-if="student.stats.discussionsCurrent == student.stats.discussionsLast"></span>
            </td>
            <td class="text-center">
                {{ student.stats.questionariesCurrent | number }}
                <span class="indicator indicator-up" ng-if="student.stats.questionariesCurrent > student.stats.questionariesLast"></span>
                <span class="indicator indicator-down" ng-if="student.stats.questionariesCurrent < student.stats.questionariesLast"></span>
                <span class="indicator indicator-same" ng-if="student.stats.questionariesCurrent == student.stats.questionariesLast"></span>
            </td>
            <td class="text-center">
                {{ student.stats.gradesCurrent | number:1 }}
                <span class="indicator indicator-up" ng-if="student.stats.gradesCurrent > student.stats.gradesLast"></span>
                <span class="indicator indicator-down" ng-if="student.stats.gradesCurrent < student.stats.gradesLast"></span>
                <span class="indicator indicator-same" ng-if="student.stats.gradesCurrent == student.stats.gradesLast"></span>
            </td>
        </tr>
    </tbody>
</table>
<p class="text-center">
    <uib-pagination max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="page" ng-change="query()"></uib-pagination>
</p>